<div style="margin-top: 20px;">
  <h2 style="text-align: center;">Productos Registrados</h2>
  <table id="productos-table">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Estado</th>
        <th>Imagen del producto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.identificador }}</td>
        <td>{{ producto.titulo }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.estado }}</td>
        <td><img [src]="producto.urlImagen" alt="Imagen del producto" style="max-width: 100px;"></td>
        <td>
          <button class="btn bg-black text-white hover:bg-white hover:text-black rounded" (click)="editarProducto(producto)">Editar</button>
          <button class="btn bg-red text-white hover:bg-white hover:text-red rounded">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="editMode">
        <td colspan="7">
          <h2>Editar Producto</h2>
          <form (ngSubmit)="guardarCambios()">
            <input type="text" [(ngModel)]="productoSeleccionado.titulo" name="titulo" placeholder="Título">
            <input type="text" [(ngModel)]="productoSeleccionado.descripcion" name="descripcion" placeholder="Descripción">
            <input type="number" [(ngModel)]="productoSeleccionado.precio" name="precio" placeholder="Precio">
            <input type="text" [(ngModel)]="productoSeleccionado.categoria" name="categoria" placeholder="Categoría">
            <input type="text" [(ngModel)]="productoSeleccionado.estado" name="estado" placeholder="Estado">
            <button type="submit">Guardar Cambios</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
