<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración</title>
</head>
<body>
  <div class="header">
    <h1>Panel de Administración</h1>
  </div>
  
  <div class="sidebar">
    <ul>
      <li>Inicio</li>
      <li>Usuarios</li>
      <li>Estadisticas</li>
      <li>Ayuda</li>
    </ul>
  </div>
  
  <div class="content">
    <div class="main-content">
      <h2>Bienvenido al panel de Editar productos</h2>
      <p>Seleccione una opción del menú lateral para comenzar.</p>
    </div>
    <div class="content-panel">
      <div style="margin-top: 20px;">
        <h2 style="text-align: center;">Productos Registrados</h2>
        <table id="productos-table">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Imagen del producto</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
        // Hacer la solicitud a la API para obtener productos
        fetch('http://localhost:3000/obtenerProductos')
            .then(response => response.json())
            .then(data => {
                const productosTable = document.getElementById('productos-table').getElementsByTagName('tbody')[0];
                data.forEach(producto => {
                    const row = productosTable.insertRow();
                    row.innerHTML = `
                        <td>${producto.identificador}</td>
                        <td>${producto.titulo}</td>
                        <td>${producto.descripcion}</td>
                        <td>${producto.precio}</td>
                        <td>${producto.categoria}</td>
                        <td>${producto.estado}</td>
                        <td><img src="${producto.imagen}" alt="Imagen del producto"></td>
                        <td>
                            <a href='#' class='btn btn-primary'>Editar</a>
                            <a href='#' class='btn btn-danger'>Eliminar</a>
                        </td>
                    `;
                });
            })
            .catch(error => console.error('Error al obtener productos:', error));
    </script>
    </div>
  </div>
</body>
</html>
