body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sidebar {
  background-color: #555;
  color: #fff;
  width: 250px;
  height: 100vh;
  float: left;
}

.content {
  padding: 20px;
  margin-left: 250px;
}

.content-panel {
  border: 1px solid #ccc; /* Añadir borde */
  border-radius: 5px; /* Añadir bordes redondeados */
  padding: 20px; /* Añadir relleno */
  background-color: #f4f4f4; /* Color de fondo */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #444;
}

.main-content {
  background-color: #f4f4f4;
  padding: 20px;
}

/* Estilos adicionales */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.btn {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
}

.btn-primary {
  background-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
}
