<div class="container">
  <h1>Subir Producto</h1>
  <div class="form-container">
    <form id="productForm" (ngSubmit)="subirProducto()">
      <label for="productName">Nombre del Producto:</label>
      <input
        type="text"
        id="productName"
        name="productName"
        [(ngModel)]="newProduct.titulo"
        required
      />

      <label for="productDescription">Descripción del Producto:</label>
      <textarea
        id="productDescription"
        name="productDescription"
        [(ngModel)]="newProduct.descripcion"
        required
      ></textarea>

      <label for="productPrice">Precio:</label>
      <input
        type="number"
        id="productPrice"
        name="productPrice"
        [(ngModel)]="newProduct.precio"
        required
      />

      <label for="productCategory">Categoría:</label>
      <select
        id="productCategory"
        name="productCategory"
        required
        [(ngModel)]="newProduct.categoria"
      >
        <option value="">Seleccionar Categoría</option>
        <option
          *ngFor="let categoria of categorias"
          [value]="categoria.identificador"
        >
          {{ categoria.nombre }}
        </option>
      </select>

      <label for="productStatus">Estado:</label>
      <select
        id="productStatus"
        name="productStatus"
        required
        [(ngModel)]="newProduct.estado"
      >
        <option value="">Seleccionar Estado</option>
        <option
          *ngFor="let estado of estadosProducto"
          [value]="estado.identificador"
        >
          {{ estado.nombre }}
        </option>
      </select>

      <label for="productImage">Imagen del Producto:</label>
      <input
        type="file"
        id="productImage"
        name="productImage"
        accept="imageFile/*"
        (change)="onFileChanged($event)"
        required
      />

      <button type="submit">Subir Producto</button>
    </form>

    <div class="preview-container">
      <div class="image-frame">
        <img
          *ngIf="imageSrc"
          [src]="imageSrc"
          alt="Vista Previa de la Imagen"
        />
      </div>
    </div>
  </div>
</div>
