.navbar {
    padding: 10px 20px;
}
/* Estilos para el menú de navegación */
.navbar.bg-dark {
    background-color: #c4bc9e !important; /* Cambia el color de fondo de la barra de navegación */
    color: #000000; /* Cambia el color del texto en la barra de navegación */
}
.navbar-brand:hover {
    color: #fff;
}
.btn {
    font-size: 20px;
}
/* Colores editables para los botones */
.perfil-btn {
    background-color: #007bff; /* Azul */
    border-color: #007bff;
    color: #fff; /* Texto blanco */
}
.estadisticas-btn {
    background-color: #000000; /* Gris */
    border-color: #6c757d;
    color: #fff; /* Texto blanco */
}
.editar-usuarios-btn {
    background-color: #d10b0b; /* Gris */
    border-color: #6c757d;
    color: #fff; /* Texto blanco */
}
.editar-productos-btn {
    background-color: #08deb7; /* Gris */
    border-color: #6c757d14;
    color: #fff; /* Texto blanco */
}
.cerrar-btn {
    background-color: #28a745; /* Verde */
    border-color: #28a745;
    color: #ffffff; /* Texto blanco */
}
.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover {
    opacity: 0.8; /* Reducir opacidad al pasar el mouse */
}


/* Estilos adicionales */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}
/* Estilos específicos para imágenes individuales */
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;

    &:first-child {
        margin-bottom: 100px; /* Ajusta el margen inferior para la primera imagen */
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 200%;
        margin-bottom: 20px;
    }

    p {
        margin: 1;
    }

    &.sergio {
        position: absolute;
        left: 1%;
        transform: translateX(50%) translateY(50%);
    }

    &.sebastian {
        position: absolute;
        left: 1%;
        transform: translateX(5%) translateY(5%);
        margin-left: 1px; /* Ajusta la distancia horizontal entre las imágenes */
    }
}




body {
    background-color: #c0bcbc; /* Color gris claro */
}
