<header>
    <div class="container flex items-center justify-between">
        <div>
            <a href="/" class="flex cursor-pointer title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-2xl font-bold">CAMBALACHES</span>
            </a>
        </div>
        <nav class="flex-grow flex justify-center">
            <a href="/Home" class="mr-4 hover:text-gray-900 btn">Inicio</a>
            <a href="/products" class="mr-4 hover:text-gray-900 btn">Productos</a>
            <a href="/contact" class="mr-4 hover:text-gray-900 btn">Contactanos</a>
            <a href="/about" class="mr-4 hover:text-gray-900 btn">Nosotros</a>
        </nav>
        <div class="flex items-center">
          <a href="/registro" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Registro</a>
          <a href="/login" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Entrar</a>
            <a href="/cart" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Carrito
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</header>

<body style="background-image: url('assets/Chica_Chaqueta_Azul.jpeg'); background-size: cover; background-repeat: no-repeat;">

    <section class="text-white body-font mt-20 relative" style="margin: 0;">
        <div class="container-fluid px-0 position-relative" style="padding-left: 0;">
            <div class="text-bg-dark" style="display: block; transition: opacity 1s ease-in-out; opacity: 1;">
                <!-- Contenido adicional aquí -->
            </div>
            <div class="animated-text-container">
                <h1 class="animated-text">LO MAS NUEVO DE LA TEMPORADA</h1>
                <div style="text-align: center;">
                    <h2 class="animated-text">La moda se transforma en expresión y la diversidad es la clave de tu armario.</h2>
                    <p class="animated-text"><small class="text-body-secondary">CAMBALACHES</small></p>
                </div>
            </div>
        </div>
        <div class="container mx-auto flex justify-center mt-10">
            <!-- Tu código de botones y enlaces aquí -->
        </div>
    </section>

</body>







