<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">CAMBALACHES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Nosotros</a>
                    </li>
                </ul>
            </div>
            <div class="items-left">
                <a href="/register"
                    class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Registro</a>
                <a href="/login"
                    class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Entrar</a>
                <a href="/cart"
                    class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Carrito
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <nav class="flex-grow flex justify-center">
            <a href="/Home" class="mr-4 hover:text-gray-900 btn">Inicio</a>
            <a href="/products" class="mr-4 hover:text-gray-900 btn">Productos</a>
            <a href="/contact" class="mr-4 hover:text-gray-900 btn">Contactanos</a>
            <a href="/about" class="mr-4 hover:text-gray-900 btn">Nosotros</a>
        </nav>
        <div class="flex items-center">
          <a href="/registro" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Registro</a>
          <a href="/login" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Entrar</a>
            <a href="/cart" class="btn bg-black text-white hover:bg-white hover:text-black rounded py-2 px-4 mr-2">Carrito
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </nav>

</header>

<body style="background-image: url('assets/Chica_Chaqueta_Azul.jpeg'); background-size: cover; background-repeat: no-repeat;">

    <section class="text-white body-font mt-20 relative" style="margin: 0;">
        <div class="container-fluid px-0 position-relative" style="padding-left: 0;">
            <div class="text-bg-dark" style="display: block; transition: opacity 1s ease-in-out; opacity: 1;">
                <!-- Contenido adicional aquí -->
            </div>
            <div class="animated-text-container" style="align-items: flex-start;">
                <div class="container mx-auto flex justify-center mt-10">
                    <!-- Tu código de botones y enlaces aquí -->
                </div>
            </div>
        </div>
    </section>
</body>
